/.idea
/.vscode
/.phpunit.cache
*.log
npm-debug.log
yarn-error.log
*.phar
*.sqlite
*.lock
package-lock.json
Thumbs.db
.DS_Store
.env
vendor/
node_modules/
storage/cache/templates
storage/cache/*.php
public/build/
public/hot
public/mix-manifest.json
.vite/
